.Cart {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 2vh 2vw;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.Cart.isOpen {
  opacity: 1;
  pointer-events: auto;
}

.CartWrapper {
  padding-bottom: 5vh;
  width: 95vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  min-height: 100%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(600px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.Cart.isOpen .CartWrapper {
  opacity: 1;
  transform: translateX(0);
}

.CartHeader {
  font-size: 1.5rem;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.CartCloseBtn {
  margin: 0 auto 0 5px;
  background-color: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.35s ease-in-out;
}

.CartCloseBtn,
.CartCloseBtn:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}

.CartCloseBtn:active {
  outline: none;
  background: transparent;
}

.CartCloseBtn:hover {
  opacity: 1;
  transform: rotate(90deg);
}

.CartHeader h3 {
  position: absolute;
}

.CartBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CartBody img {
  margin-top: 18px;
  width: 50%;
  height: 50%;
  object-fit: scale-down;
}

.ProductInCart {
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.CartContent {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CartItemTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  max-width: 180px;
}

.CartContent h4 {
  margin: 4px 0;
}

.CardQty {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.qtyBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.qtyBtn:disabled {
  cursor: not-allowed;
}

.qtyBtn:disabled > .faiconqty {
  color: grey;
  cursor: not-allowed;
}

.faiconqty {
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 8px;
}

.removeCartBtn {
  margin: 8px 0 15px 0;
  padding: 0 8px;
  cursor: pointer;
  width: fit-content;
  height: 30px;
  background-color: rgba(206, 49, 49, 0.6);
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.removeCartBtn:hover {
  background-color: rgba(206, 49, 49, 1);

  cursor: pointer;
}

.removeCartBtn:focus {
  outline: none;
}

.removeCartBtn:active {
  transform: scale(0.9);
}

.CartFooter {
  height: 6vh;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  width: 95vw;
  text-align: center;
  border-top: 1px solid black;
  font-size: large;
  font-weight: bold;
  position: fixed;
  bottom: 0;
}

@media (min-width: 768px) {
  .Cart {
    justify-content: flex-end;
  }

  .CartWrapper {
    margin-right: -50px;
    width: 520px;
  }

  .CartBody img {
    margin: 0;
  }

  .ProductInCart {
    height: 250px;
    max-width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }

  .CartContent {
    width: fit-content;
  }

  .CartFooter {
    width: 520px;
    height: 8vh;
  }
}
