.Hero {
  height: max-content;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100vw;
  margin-top: 25px;
  flex-grow: 0;
  align-self: flex-start;

}

.Hero img {
  width: 95%;
  height: auto;
  border-radius: 5px;
}

.Hero h2 {
  display: none;
}

.Hero h1 {
  margin-bottom: 25px;
  font-size: 45px;
  letter-spacing: 1px;
  color: #457b9d;
}

@media (min-width: 768px) {
  .Hero {
    height: 40vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100vw;
    box-sizing: content-box;
  }
  .Hero div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 95vw;
    height: 20vh;
    
  }

  .Hero img {
    height: 40vh;
    width: 95vw;
    object-fit: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(25, 25, 25, 0.2);
  }

  .Hero h1 {
    color: rgb(87, 133, 199);
    font-size: 3rem;
  }

  .Hero h2 {
    color: white;
    display: inline-flex;
    font-size: 1.4rem;
  }
}
