.search {
  font-size: 1.5rem;
  width: 55px;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(25, 25, 25, 0.4);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 0.1px solid rgba(25, 25, 25, 0.4);
}

.search.contains {
  width: 70vw;
}

.search:active,
.search:focus {
  width: 70vw;
}

@media (min-width: 768px) {
  .search.contains {
    width: 350px;
  }

  .search:active,
  .search:focus {
    width: 350px;
  }
}
